
{
   box-sizing: border-box;
}
header{
  width: auto;
  margin: auto;
  background-color: #405164;
}
header, h1{
  color: rgb(253, 252, 247);
  margin: 0;
  padding-top: 13px;
}

.header-p{
  color: rgb(253, 252, 247); 
  text-align: center; 
  padding-bottom: 20px; 
  font-size: 20px;
}

nav{
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: rgb(253, 252, 247);
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right
}

a.nav {color: rgb(253, 252, 247)}
a.nav:link {color: rgb(253, 252, 247)}
a.nav:visited {color: rgb(253, 252, 247)}
a.nav:hover {color: rgb(253, 252, 247)}
a.nav:active {color: rgb(253, 252, 247)}


body{
  background-color: rgb(253, 252, 247);
  margin: 0;
  padding: 0;
}

footer{
  width: auto;
  margin: auto;
  background-color: #405164;
  color: rgb(253, 252, 247);
}

section{
  padding: 20px;
}

h1{
  font-size: 50px;
  font-family: 'Sedgwick Ave', cursive;
  text-align: center;
  padding: 20px, 20px, 10px, 20px
}

h2{
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

h3{
  font-size: 20px;
}

h2, h3{
  font-family: 'Secular One', sans-serif;
}

p, li{
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  color: #362C28
}

/* class to center images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/* centers text*/
.c-align{
  text-align: center;
}

hr{
  color: #405164
}
/* link pseudo-class*/
a:link    {color: rgb(37, 93, 105)}
a:visited {color: darkred}
a:hover   {color: darkolivegreen}
a:active  {color: cyan}

.footer-heading{
  padding-top: 20px;
  padding-left: 10px;
}

.footer-copyright{
  color:rgb(253, 252, 247)
}

.social-links{
  width: 50px;
  padding: 5px;
}

.list-center{
  padding-left: 48%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
